a{
    text-decoration: none;
    color: white;
}

.main .subtitlte{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.main .cards{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.main .cards .card{
    display: flex;
    border: solid 1px rgb(121, 121, 121);
    height: 750px;
    width: 560px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.main .cards .card .card-header{
    background-color: rgb(232, 238, 248);
}

.main .cards .card .card-header img{
    object-fit: contain;
    width: 550px;
    height: 200px;
}


.main .cards .card .card-body h2{
    margin: 20px 0; 
    color: #181818;
    padding: 5px;
}

.main .cards .card .card-body p{
    padding-bottom: 5px;
    font-size: 20px;
}

.main .cards .card .card-body ul{
    font-size: 20px;
    list-style: none;
}

.main .cards .card .card-body ul li{
    margin: 10px 0;
}

.main .cards .card .card-body ul span{
    padding: 1px;
    background-color: rgb(58, 217, 40);
    border-radius: 50px;
}

.main .cards .card-footer{
    background-color: #181818;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 30px;
}

@media screen and (max-width: 600px){
    .main .cards .card{
        width: 360px;
    }

    .main .cards .card .card-header img{
        width: 350px;
    }
}


@media screen and (max-width: 400px){
    .main .cards .card{
        width: 300px;
        height: auto;
    }

    .main .cards .card .card-header img{
        width: 210px;
    }
}