footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer .right-container a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

footer .right-container a:hover{
    color: #ccc;
}

@media screen and (max-width: 500px) {
    footer{
        font-size: 10px;
    }

    footer .right-container a{
        margin-right: 5px;
    }
}